<h1>New game</h1>

<ol>
    <% @letters.each do|letter| %>
        <li class="fs-5"><%= letter %></li>
    <% end %>
</ol>


<form action="/score" method="post" data-turbo="false">
    <label>What is the longest word you can find?</label>
    <input class="form-control p-3 mb-3" type="text" name="answer" placeholder="Ecrivez quelque chose!">
    <input class="form-control" name="letters" type="hidden" value="<%= @letters.join("") %>">
    <input class="form-control" type="submit" value="Ecrire un mot!">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
